<header>
	<h1><%= data.ministry.get('name') %></h1>
	<h3>Welcome back <%= data.user.realname %>! </h3>
</header>
<p>
  Ice cream powder dragée. Gingerbread gummi bears brownie icing powder fruitcake.
  Jujubes cake apple pie applicake bear claw sweet jelly-o. Dessert chocolate bar
  gummies bear claw bonbon jelly carrot cake pudding jelly-o. Soufflé biscuit gummies
  liquorice sweet roll. Cheesecake cookie toffee candy candy.
</p>

<div id="ministry">

</div>

<h3>Churches</h3>
<div id="churches">
  
</div>