<h1>Today at <%= data.name %></h1>

<div id="contact">
	<h3>Contact Details</h3><a href="#" class="edit" data-block="contact">Edit</a>
	<address>
		<%= data.address %>
		<%= data.city %>
		<%= data.country %>
		Twitter: <%= data.twitter %>
	</address>
	<div id="address-edit">
		<form role="form" id="address-edit-form" class="edit-block">
			<div class="form-group">
				<label for="address">Address</label>
				<input id="address" class="form-control" name="address" value="<%= data.address %>" />
			</div>
			<div class="form-group">
				<label for="city">City</label>
				<input id="city" class="form-control" name="city" value="<%= data.city %>" />
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<input id="country" class="form-control" name="country" value="<%= data.country %>" />
			</div>
			<div class="form-group">
				<label for="twitter">Twitter</label>
				<input id="twitter" class="form-control" name="twitter" value="<%= data.twitter %>" />
			</div>
			<button class="btn btn-primary">Save</button>
			<button class="btn btn-default">Cancel</button>
		</form>
	</div>
</div>

<div id="mission-view">
	<header>
		<h3>Mission Statement</h3><a href="#" class="edit" data-block="mission">Edit</a>
	</header>
	<p><%= data.mission %></p>
</div>
<div id="mission-edit">
	<form role="form" id="mission-edit-form" class="edit-block">
		<div class="form-group">
			<textarea name="mission" class="form-control"><%= data.mission %></textarea>
			<span class="help-block">Describe your church's beliefs, principles etc</span>
		</div>
		<button class="btn btn-primary">Save</button>
		<button class="btn btn-default">Cancel</button>
	</form>
</div>

<h3>Blog</h3>
<div id="post-list"></div>
<button class="btn btn-primary post-new">Post New</button>

<h3>Staff</h3>
<div id="user-list"></div>
<button class="btn btn-primary">Invite</button>